@import "./reset.scss";
@import "../fonts/fonts.css";
$gray: #efefef;
$accent: #66c05d;
$dark: #333333;
body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 16px;
}
a {
  all: unset;
}
.container {
  max-width: 1110px;
  margin: auto;
}
.burger {
  position: absolute;
  top: 6px;
  left: 16px;
  display: none;
  cursor: pointer;
  @media screen and (max-width: 769px) {
    display: block;
  }
}
.show-menu {
  height: auto !important;
  transition: all 0.3s linear;
}
.btn {
  all: unset;
  transition: all 0.1s;
  &:hover {
    transform: translate(3px, 2px);
  }
}
.btn-buy {
  all: unset;
  padding: 9px 40px;
  color: #ffffff;
  background-color: $accent;
  border-radius: 30px;
  cursor: pointer;
}
.input-email {
  padding: 9px 25px;
  color: #c4c4c4;
  background: #ffffff;
  border: none;
  border-radius: 30px;
}
.envelop {
  width: 100%;
  height: 100%;
  background: url("../img/envelope.svg") center right/auto no-repeat;
}
.btn-standart {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 9px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
.socials {
  display: flex;
  gap: 20px;
  > * {
    cursor: pointer;
  }
}
.header {
  display: flex;
  flex-direction: column;
  &__menu-block {
    height: 50px;
    overflow: hidden;
    color: $dark;
    background-color: $gray;
  }
  &__menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
    > li {
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
      &:hover {
        border-bottom: 2px solid $accent;
      }
    }
    @media screen and (max-width: 769px) {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: large;
    }
  }
  &__main-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 30px;
    font-size: 16px;
    border-top: 1px solid $gray;
    cursor: pointer;
    > li {
      border: 2px solid transparent;
      &:hover {
        border-left: 2px solid $accent;
      }
    }
    @media screen and (max-width: 769px) {
      flex-wrap: wrap;
      gap: 20px;
      align-items: flex-start;
      font-size: large;
    }
  }
}
.header-contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  &__column {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  &__title {
    color: $accent;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
  }
  > .back-call {
    @media screen and (max-width: 652px) {
      display: none;
    }
  }
}
.back-call {
  display: flex;
  gap: 40px;
  align-items: center;
  &__tel {
    white-space: nowrap;
    cursor: pointer;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    border: 2px solid $accent;
    border-radius: 40px;
    cursor: pointer;
  }
}
.sale-wrap {
  padding: 0 20px;
  background-color: $accent;
}
.sale {
  display: flex;
  align-items: center;
  max-width: 1180px;
  max-height: 604px;
  margin: auto;
  padding: 50px 0;
  overflow: hidden;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 859px;
    background: rgba(255, 255, 255, 0.4);
    border: 90px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    @media screen and (max-width: 1170px) {
      background: none;
      border: none;
    }
  }
  @media screen and (max-width: 1170px) {
    flex-direction: column;
    justify-content: space-between;
    max-height: fit-content;
  }
}
.promotion {
  display: flex;
  flex-direction: column;
  gap: 50px;
  &__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
  }
  &__description {
    color: #ffffff;
    line-height: 20px;
  }
  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 40px;
    cursor: pointer;
  }
}
.goods-wrap {
  margin-top: 80px;
  margin-bottom: 100px;
  padding: 0 20px;
}
.goods {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__title {
    font-weight: 700;
    font-size: 24px;
  }
}
.good {
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 1111px) {
      gap: 33px;
      justify-content: center;
    }
  }
}
.prod-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 255px;
  height: 363px;
  padding: 25px;
  &__text {
    color: $dark;
    line-height: 19.69px;
    text-align: center;
  }
  &__price {
    font-weight: 500;
    font-size: 21px;
  }
}
.subscribes-wrap {
  margin-bottom: 133px;
  padding: 0 20px;
}
.subscribes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.subscribe {
  display: flex;
  flex: 1 0 45%;
  justify-content: space-between;
  min-width: 370px;
  padding: 35px 40px;
  color: $gray;
  background-color: $accent;
  &__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  &__text {
    line-height: 19.69px;
  }
}
.footer {
  &__contact-us-block {
    border-top: 1px solid $gray;
  }
  &__wrap {
    padding: 0 20px;
  }
  &__copyright-block {
    padding: 25px;
    color: #828282;
    font-size: 12px;
    line-height: 14px;
    background-color: $gray;
  }
  &__copyright {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
.footer-contact-us {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 37px 0;
  @media screen and (max-width: 769px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
}
